<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cookie.developdraw">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".A.ADrawSimpleActivity" />
        <activity android:name=".A.ADrawLineActivity" />
        <activity android:name=".A.ADrawTextPathActivity" />
        <activity android:name=".A.ADrawRegionActivity" />
        <activity android:name=".A.ADrawRegionClipActivity" />
        <activity android:name=".B.BDrawTranslateActivity" />
        <activity android:name=".B.BClipRectActivity" />
        <activity android:name=".B.BDrawTextActivity" />
        <activity android:name=".B.BBezierActivity" />
        <activity android:name=".B.BPathTouchActivity" />
        <activity android:name=".B.BPathSmoothActivity" />
        <activity android:name=".B.BBezierAnimationActivity" />
        <activity android:name=".C.CDrawLineActivity" />
        <activity android:name=".C.CDashPathEffectViewActivity" />
        <activity android:name=".C.CDiscretePathEffectActivity" />
        <activity android:name=".C.CPathDashPathEffectViewActivity" />
        <activity android:name=".D.ColorMatrixActivity" />
        <activity android:name=".D.BitmapColorMatrixActivity" />
        <activity android:name=".D.ColorBitmapActivity" />
        <activity android:name=".D.RotateBitmapActivity" />
        <activity android:name=".D.ColorMatrixHardActivity" />
        <activity android:name=".D.LightingColorFilterActivity" />
        <activity android:name=".D.XfermodeActivity" />
        <activity android:name=".D.PorterDuffXfermodeActivity" />
        <activity android:name=".D.GooglePorterDuffXfermodeActivity" />
        <activity android:name=".E.InvertedImageViewActivity" />
        <activity android:name=".E.DogViewSRCOUTActivity" />
        <activity android:name=".E.GuaGuaCardViewSRCOUTActivity" />
        <activity android:name=".E.CircleWaveDSTINActivity" />
        <activity android:name=".E.HeartMapActivity" />
        <activity android:name=".E.IrregularWaveViewActivity" />
        <activity android:name=".E.SaveLayerXfermodeActivity" />
        <activity android:name=".F.SaveLayerUseSkewActivity" />
        <activity android:name=".F.MATRIX_SAVE_FLAG_ViewActivity" />
        <activity android:name=".G.RedPointActivity" />
        <activity android:name=".G.ShadowLayerActivity" />
        <activity android:name=".G.BlurMaskFilterActivity" />
        <activity android:name=".G.ExtractAlphaActivity" />
        <activity android:name=".G.BitShadowActivity"></activity>
    </application>

</manifest>